<!doctype html>
<title>Github Data</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>size of github commits vs time</h1>
  <div class=metanav>

    <div class=metanav>
      <object type="text/html" data="/static/plot.html" width="800" height="800"></object>
    </div>    
    <h1>from github</h1>
    <form id='anything' method='post' action='/next' >
      <p>
        <input type='submit' value='Next' />
      </p>
    </form>
  </div>
</div>
</html>
